
@font-face {
  font-family: 'IranianSans';
  src: url('../font/Sans\ a4fran3.eot') format('eot'),
  url('../font/Sans\ a4fran3.ttf') format('ttf'),
  url('../font/Sans\ a4fran3.woff') format('woff');
}
@font-face {
  font-family: 'SnapWeb';
  src: url('../font/Snapp(farsgraphic).ttf') format('ttf');
}

